<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="novoda.wallpaper"
	android:versionCode="6"
	android:versionName="0.5.0">

	<uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.software.live_wallpaper" />
    
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission
		android:name="android.permission.SET_WALLPAPER" />
	<uses-permission
		android:name="android.permission.SET_WALLPAPER_HINTS" />
		
		
	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon">
		<service
			android:label="@string/flickr_service_label"
			android:name=".FlickrService"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper" android:resource="@xml/flickr" />
		</service>
		<activity
            android:label="@string/flickr_settings"
            android:name=".FlickrSettings"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:launchMode="singleTop"
            android:exported="true" />
	</application>

</manifest> 